 table {
        font-family: Rockwell;
        border-collapse: collapse;
        Width: 40%;
        margin-bottom: 30px;
    }

    td, th {
        border: 2px solid;
        text-align: left;
        padding: 8px;
    }
    
    tr:nth-child(even) {
        background-color: #f5f5db;
        border: 2px solid;
    }
button {
        background-color: peachpuff;
        border: none;
        font-family: Rockwell;
        border-radius: 5px;
        margin-top: 50px;
        margin-right: 197px;
        color: black;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 30px 75px;
        transition-duration: 0.6s;
        cursor: pointer;
    }
button:hover{ background-color: #f5f5db;
        color: brown;}
button{border: 2px solid #f5f5db;}