 table {
        font-family: Rockwell;
        border-collapse: collapse;
        Width: 50%
    }

    td, th {
        border: 2px solid;
        text-align: left;
        padding: 16px;
    }
    
    tr:nth-child(even) {
        background-color: #f5f5db;
        border: 2px solid;
    }
    
    button {
        background-color: peachpuff;
        border: none;
        font-family: Rockwell;
        border-radius: 5px;
        color: black;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        margin: 30px 75px;
        transition-duration: 0.6s;
        cursor: pointer;
        float: right;
    }
    
    .button1 {border: 2px solid #f5f5db}
    
    .button1:hover {
        background-color: #f5f5db;
        color: brown;
    }